<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savoy Family Meals</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" />
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="recipe_list.js"></script>
</head>
<body>
<div id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #FBCEB1">
        <div id="navbarBasicExample" class="navbar-menu is-active" style="background-color: #FBCEB1">
            <div class="navbar-start">
                <a class="navbar-item is-active" href="index.html">
                    Recipes
                </a>
                <a class="navbar-item" href="julai.html">
                    JulAI
                </a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <h1 class="title">Savoy Family Meals</h1>
            <div class="columns is-desktop">
                <div class="column" v-for="recipe in selected_recipes">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <button class="delete" @click="deleteRecipe(recipe.name)">
                                      </button>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">{{recipe.name}}</p>
                                    <p class="subtitle is-5">{{recipe.source}}</p>
                                </div>
                            </div>
                            <div class="content">
                                <ol type="1" >
                                    <li v-for="ingredient in recipe.ingredients">
                                        {{capitalizeFirstLetter(ingredient)}}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <section class="section is-small">
                <h1 class="title">Grocery List</h1>
                <div class="content">
                    <ul v-for="recipe in selected_recipes">

                        <li v-for= "ingredient in recipe.ingredients">
                            {{capitalizeFirstLetter(ingredient)}}
                        </li>

                    </ul>
                </div>
            </section>


        </div>
        </div>
    </section>
</div>

<script>
  const { createApp } = Vue
  function shuffle(a) {
        for (let i = a.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [a[i], a[j]] = [a[j], a[i]];
        }
        return a;
    }

  const app=createApp({
    data() {
      return {
        recipes: recipes,
        shuffled_recipes: shuffle(recipes),
      }
    },
    computed: {
        selected_recipes() {
            return this.shuffled_recipes.slice(0,4)
        }
    },
    methods: {
        capitalizeFirstLetter(ingredient){
            return ingredient.charAt(0).toUpperCase() + ingredient.slice(1)
        },
        deleteRecipe(name){
            this.shuffled_recipes = this.shuffled_recipes.filter(recipe => recipe.name != name)
            console.log(name)
        }
    }

  }).mount('#app')
</script>
</body>
</html>